*
  box-sizing: border-box

body
  margin: 0
  font: 300 1em/1.8 PingFang SC,Lantinghei SC,-apple-system,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans
  background-color: #fdf6e3

a
  cursor: crosshair

.main
  padding: 40px 70px

@media screen and (max-width: 768px)
  .main
    padding: 20px 10px